@import "./reset.css";
@import "./common.css";

.header {
  position: relative;
  width: 1280px;
  height: 268px;
  margin: 0 auto;
}

.header .group-search {
  display: flex;
  position: absolute;
  top: 70px;
  left: 50%;
  width: 706px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  background-color: #fff;
  transform: translateX(-50%);
}

.header .group-search .logo a {
  display: block;
  padding: 17px 16px 17px 27px;
}

.header .group-search .logo svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}

.header .group-search form {
  flex: 1;
}

.header .group-search fieldset {
  display: flex;
  height: 100%;
}

.header .group-search .input-text {
  flex: 1;
  color: #000;
  padding: 17px 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
  outline: 0;
  border: 0;
}

.header .group-search .btn-keyboard {
  padding: 0 3px;
}

.header .group-search .btn-keyboard::after {
  background-position: -254px -254px;
  width: 24px;
  height: 14px;
}

.header .group-search .btn-auto {
  padding: 0 6px;
}

.header .group-search .btn-auto::after {
  background-position: -318px -247px;
  width: 10px;
  height: 6px;
}

.header .group-search .btn-submit {
  padding: 17px 27px 16px 10px;
}

.header .group-search .btn-submit svg {
  width: 25px;
  height: 25px;
  fill: #03c75a;
}

.header .group-banner {
  position: absolute;
  top: 80px;
  right: 0;
}

.header .group-banner img {
  width: 162px;
  height: 40px;
  aspect-ratio: auto 162 / 40;
}

.header .group-nav {
  position: absolute;
  top: 142px;
  left: 50%;
  transform: translateX(-50%);
  width: 676px;
}

.header .group-nav .nav-list {
  display: flex;
}

.header .group-nav .nav-item {
  flex: 1;
}

.header .group-nav .nav-item .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.header .group-nav .nav-item [class*="ico-"] {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.header .group-nav .nav-item [class*="ico-"]::before {
  position: absolute;
  top: -2px;
  left: -3px;
  background-position: 0px -128px;
  width: 54px;
  height: 54px;
}

.header .group-nav .nav-item [class*="ico-"]:hover::before {
  top: -3px;
  left: -5px;
  width: 58px;
  height: 58px;
  background-position: -142px 0;
}

.header .group-nav .nav-item [class*="ico-"]::after {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 44px;
  height: 44px;
}

.header .group-nav .nav-item .ico-mail::after {
  background-position: -250px -90px;
}

.header .group-nav .nav-item .ico-cafe::after {
  background-position: -250px 0px;
}

.header .group-nav .nav-item .ico-blog::after {
  background-position: -201px -98px;
}

.header .group-nav .nav-item .ico-shopping::after {
  background-position: -90px -209px;
}

.header .group-nav .nav-item .ico-news::after {
  background-position: 0px -209px;
}

.header .group-nav .nav-item .ico-stock::after {
  background-position: -180px -209px;
}

.header .group-nav .nav-item .ico-real::after {
  background-position: -45px -209px;
}

.header .group-nav .nav-item .ico-map::after {
  background-position: -201px 0px;
}

.header .group-nav .nav-item .ico-webtoon::after {
  background-position: -225px -209px;
}

.header .group-nav .nav-item .ico-webtoon::after {
  background-position: -225px -209px;
}

.header .group-nav .nav-item .ico-streaming > img {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 44px;
  height: 44px;
}

.header .group-nav .nav-item .ico-streaming::after {
  width: 0;
  height: 0;
}

.header .group-nav .nav-item .ico-all::after {
  background-position: -250px -135px;
}

/* hover */
.header .group-nav .nav-item .ico-all:hover::after {
  background-position: -79px -272px;
  width: 22px;
  height: 6px;
}
.header .group-nav .nav-item .ico-all:hover::before {
  background-position: 0px -69px;
}

.header .util-aea {
  display: flex;
  position: absolute;
  top: 18px;
}

.header .util-aea.left {
  left: -10px;
}

.header .util-aea.right {
  right: -10px;
}

.header .util-aea [class*="btn-"] {
  position: relative;
  padding: 10px;
}

.header .util-aea [class*="btn-"]:hover::before {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -1;
  width: 44px;
  height: 44px;
  background-color: #f5f7f8;
  border-radius: 50%;
  content: "";
}

.header .util-aea [class*="btn-"]::after {
  width: 26px;
  height: 26px;
}

.header .util-aea .btn-menu::after {
  background-position: 0px -333px;
}

.header .util-aea .btn-pay {
  padding: 7px;
}

.header .util-aea .btn-pay::after {
  width: 32px;
  height: 32px;
  background-position: -295px -177px;
}

.header .util-aea .btn-talk::after {
  background-position: -108px -333px;
}

.header .util-aea .btn-alert::after {
  background-position: -54px -333px;
}

.footer {
  border-top: 1px solid #ebebeb;
  background-color: #f5f6f7;
}

.footer .footer-inner {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 78px;
  font-size: 1.3rem;
}

.footer .footer-inner > div ~ div {
  border-top: 1px solid #ebebeb;
}

.footer .group-banner {
  padding: 30px 0;
}
.footer .banner-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .banner-list .banner-item > a {
  display: flex;
  align-items: center;
}
.footer .banner-list .content-img {
  width: 160px;
  height: 100px;
  border-radius: 6px;
}
.footer .banner-list .banner-desc {
  margin-left: 18px;
}
.footer .banner-list .banner-subtit {
  width: fit-content;
  height: 20px;
  max-width: 141px;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: -0.25px;
  color: #fff;
  background-color: #a0adb2;
}
.footer .banner-list .banner-tit {
  display: block;
  font-size: 1.3rem;
  margin: 10px 0 6px 0;
  line-height: 1.143;
  letter-spacing: -0.25px;
  color: #222;
}
.footer .banner-list .banner-txt {
  font-size: 1.3rem;
  line-height: 1.43;
  letter-spacing: -0.25px;
  color: #545454;
}

.footer .group-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
  font-weight: 700;
}
.footer .group-link .link-all {
  position: relative;
  display: flex;
  align-items: center;
}
.footer .group-link .link-all::after {
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-left: 10px;
  background-position: -425px -37px;
  content: "";
}

.footer .group-aside {
  display: flex;
  justify-content: space-between;
}
.footer .group-aside .group-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}

.footer .group-aside .partner-box {
  display: flex;
  align-items: center;
}
.footer .group-aside .partner-box .tit {
  width: 87px;
  padding-right: 9px;
  font-weight: 800;
  color: #101010;
}

.footer .footer-list {
  display: flex;
  align-items: center;
}
.footer .footer-item {
  position: relative;
  color: #404040;
}
.footer .footer-list .footer-item + .footer-item ::before {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 10px;
  background-color: #d3d5d7;
  content: "";
}
.footer .footer-list .link-bold {
  font-weight: 700;
}

.footer .footer-addr {
  margin-left: 17px;
  font-weight: 700px;
}
.footer .footer-addr a {
  font-weight: 700;
}

.footer .group-aside .group-right {
  display: flex;
  gap: 30px;
  padding: 21px 0;
}
.footer .group-aside .service-box {
  display: flex;
}
.footer .group-aside .service-info {
  margin-right: 11px;
}
.footer .group-aside .service-tit {
  display: block;
  padding: 5px 0;
  color: #101010;
}
.footer .group-aside .service-desc {
  color: #404040;
}
.footer .group-aside .service-logo {
  width: 48px;
  height: 48px;
}
.footer .group-aside .service-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer .group-corp {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  padding-top: 20px;
}
